<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <include 
        file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"  value="$(find vitarana_drone)/worlds/task.world"/>
    </include>

    <arg name="record" default="false"/>
	<arg name="duration" default="60"/>
	<arg name="rec_name" default="Task_1_VD.bag"/>

	<group if="$(arg record)">

	    <node name="rosbag_record_position" pkg="rosbag" type="record"
	       args="record -O $(find vitarana_drone)/bag_files/$(arg rec_name) --duration=$(arg duration) /edrone/gps /edrone/gps_velocity" output="screen"/>

	</group>

	<node pkg="vitarana_drone" type="attitude_controller.py" name="attitude_controller" output="screen"/>

	<node pkg="vitarana_drone" type="position_controller1.py" name="position_controller1" output="screen"/>

</launch>